@import './scss/modern-normalize.scss';

body {
  padding-top: 30px;

  font-family: 'Roboto', sans-serif;
  text-align: center;

  background-color: rgb(206, 206, 206);
}

.main {
  margin: 0;
  margin-bottom: 20px;

  font-size: 50px;
  line-height: 1.3;
}

.country-input {
  margin: 0;
  padding: 5px;

  font-family: inherit;
  font-size: 20px;
  line-height: 1.43;

  border: 5px solid blue;

  transition: border 250ms linear;
}

.country-input:hover,
.country-input:focus {
  border: 5px solid orange;
}

.pnotify {
  position: absolute;
  top: 0;
  right: 0;
}

.countries-list {
  padding-left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries-list-item {
  margin-bottom: 5px;
  font-size: 30px;
}

.country-name {
  margin-right: 5px;
}

.country-card {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.country-card-content {
  margin-right: 50px;

  text-align: left;

  @media screen and (max-width: 768px) {
    margin: 0;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.country-card-lng {
  padding: 0;
}

.country-card-lng li {
  margin-left: 20px;

  @media screen and (max-width: 768px) {
    list-style: none;
  }
}

.country-card-title {
  @media screen and (min-width: 1200px) {
    font-size: 50px;
  }
}
